body {
    background: #EFEFEF;
    font-family: 'adobe clean';
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

.core_wcm_components_teaser_v1_teaser {
    text-align: center;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.core_wcm_components_image_v2_image img,
.core_wcm_components_teaser_v1_teaser img {
    display: block;
}

.core_wcm_components_teaser_v1_teaser img {
    margin-left: auto;
    margin-right: auto;
}

.core_wcm_components_teaser_v1_teaser p > a {
    display: inline-block;
    border: 0.125em solid;
    border-radius: 1.56em;
    color: #00f;
    font-weight: 300;
    margin-right: 0.8em;
    padding: 0.5625em 1em 0.6875em;
    text-decoration: none;
}

.core_wcm_components_image_v2_image p {
    font-size: small;
    color: #607d8b;
}
